#flex-box {
  background-color: #ccc;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.h-100px {
  height: 100px;
}

.w-100px {
  width: 100px;
}

.bg-lightgreen {
  background-color: lightgreen;
}

.m-10px {
  margin: 10px;
}
